@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 3px !important;
  background-color: #000;
}
*::-webkit-scrollbar-thumb {
  background-color: #333;
}
